[user]
	email = alepooop@gmail.com
	name = Aleksey Popov
[alias]
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    co = "checkout"
[core]
	excludesfile = ~/.gitignore_global
	precomposeUnicode = true
[rebase]
	autosquash = true
[push]
	default = current
[pull]
	default = current
